<div class="container">


  <div class="row mt-5 center-block">
    <div class="img-thumbnail">
     <%= image_tag @item.get_image(300,300) %>
    </div>

   <div class="inline">
    <div class="row">
     <h4 class="col-sm-7">
      <%= @item.name %>
     </h4>
    </div>

    <div class="row">
     <div class="col-sm-7">
      <%= @item.introduction %>
     </div>
    </div>

    <div class="row">
     <div class="col-sm-7">
      <%= (@item.price*1.1).floor.to_s(:delimited) %>（税込）
     </div>
    </div>

    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <div><%= f.label :quantity, "個数選択" %>
         <%= f.select :amount, *[1..10] %>
    </div>
    <div><%= f.hidden_field :item_id, :value => @item.id %>
         <%= f.submit 'カートに入れる' ,class: "btn btn-success" %>
    </div>
    <% end %>
   </div>
  </div>


</div>
